@charset "UTF-8";

/* 背景等スタイル */
body {
  font-family: system-ui, sans-serif;
  background:#f4f4f4;
  margin:0;
  padding:2rem;
}

.Test0{
  display: flex;
}

.Test1{
  width: 135px;
  height: 190px;
  min-width: 130px
}

.Test1 img {
  width: 100px;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
  background: #ddd;
}

.flex{
  display: flex;
}

.line {
  display:inline-block;
}

.line div {
  writing-mode: vertical-rl;/*縦書き*/
  font-weight: bold;
  font-size: 0.8em;
  color: #ffffff;
  text-align: center;

  padding: 0.25em 0.1em;
  background-color: #0044ff;
  height: 45px;
  width: 15px;
  border-radius: 15px;
}

.line a{
  writing-mode: vertical-rl;
  letter-spacing: -0.5em;
  height: 45px;
  text-decoration: none;
    color: #4d4d4d;
}

.taitoru2 strong{
  display: block;

  width: 100px; /* 省略せずに表示するサイズを指定 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.taitoru2 a{
  font-size: 0.7em;
}

/* 以下、ボタン内部操作 */

/* ボタンの位置、バックグラウンド */
.group-item {
  display: flex;
  /* background: #fff; */
  padding: 20px;
  margin: 12px 0;
  border-radius: 12px;
  /* justify-content: space-between; */
  align-items: center;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.06); */
  min-height: 240px;
}

/* 横漫画、タイトル横配置化 */
.main{
  display: flex;
  transform: scale(0.75);
  position: relative;
  left: -1em;
  top: -0.2em;
}

/* タイトル、タイプ表示位置 */
.group-left { 
  align-items: center;
  gap: 20px;
  margin: 0 1em 0 0;
}

/* タイトル、作者名メイン */
.title{
  margin-left: 0.3em;
}

/* タイトル、タイプ文字位置 */
.title strong { 
  font-size: 2rem;
  display: block;
}

/* タイトル、タイプ文字細字化 */
.title span {
  font-size: 1rem;
}

/* 横漫画表示 */
.manga-type {
  display: block;
  color: #ffffff;/*文字色*/
  font-weight: bold;/*太字*/
  letter-spacing: 0em;/*字間*/
  padding: 0.4em 0.1em;/*内側余白*/
  writing-mode: vertical-rl;/*縦書き*/
  background: #0044ff;/*バックグラウンド*/
  border-radius: 15px;/*角の丸み*/
}

/* 表紙サイズ */
.group-left img {
  width: 100px;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
  background: #ddd;
}

/* 以下 【追加する】 */

.title2{
  margin-left: 0.3em;
}

.title2 strong { 
  font-size: 2rem;
  display: block;
  transform: scale(0.87);
  margin: 0.2em 0 0 -0.15em;
  color: #8d8d8d;
}

/* 横漫画表示　追加版 */
.manga-type2 {
  display: block;
  color: #ffffff;/*文字色*/
  font-weight: bold;/*太字*/
  letter-spacing: 0em;/*字間*/
  padding: 0.4em 0.1em;/*内側余白*/
  writing-mode: vertical-rl;/*縦書き*/
  background: #c4c4c4;/*バックグラウンド*/
  border-radius: 15px;/*角の丸み*/
}

/* グリッド */
.img2{
  transform: scale(100px,140px);
  width: 100px;
  height: 140px;
  border-radius: 6px;
  border: 3px dashed #c4c4c4;
}

/* プラス文字 */
.img2 div{
  color: #c4c4c4;
  text-align: center;
  font-size: 6rem;
}
